*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav{
    width: 80%;
    margin: auto;
}

nav{
    background-color: orangered;
    height: 100px;
}

#discord-logo-top{
    width: 10%;
    background-color: lightgreen;
}

#menu{
    width: 50%;
    background-color: lightgreen;
}

#login{
    width: 10%;
    background-color: lightgreen;
}

.flexHeader{
    display: flex;
    justify-content: space-between;
}

#header-title{
    width: 60%;
    margin: auto;
    background-color: orange;
    height: 250px;
}

.flexSection{
    display: flex;
    justify-content: space-between;
}

main{
    width: 80%;
    margin: auto;
    background-color: orangered;
}

#immagine{
    width: 45%; 
    background-color: green;   
    height: 250px;
}

#scritte{
    width: 45%; 
    background-color: greenyellow;  
    height: 250px;
}